.footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    background: #333;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid white; /* Add a white border */
    text-align: center;
  }
  
  .footer-heading {
    background: #333;
    font-size: 20px;
    font-weight: bold;
  }
  
  .footer-text {
    background: #333;
    color: white;
    font-weight: bold;
  }
  
  .footer-list {
    background: #333;
    color: white;
    list-style: none;
    padding: 0;
  }
  
  .footer-list li {
    font-weight: bold;
    cursor: pointer;
  }
  
  .footer-icon {
    font-size: 24px;
    margin-right: 16px;
  }
  
  body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .copyright {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
  }
  