#carousel{
    max-height: 400px;
    overflow: hidden;
    object-fit: cover;
   }

   .card-img {
    height: 200px; /* Set your desired height */
    object-fit: cover; /* This property ensures the image covers the area without stretching */
  }
   body::-webkit-scrollbar{
    display: none;
   }
   
   .slick-slider {
    width: 100%;
    margin: auto;
  }
  
  .slick-slide {
    display: inline-block;
    width: 100%;
  }
  
  .slick-dots {
    bottom: -20px;
    text-align: center;
  }
  
 /* Add this CSS to your stylesheets or in a separate CSS file */

.modal-content-container {
    display: flex;
    align-items: center;
  }
  
  .modal-image-container img {
    max-width: 100px; /* Set the maximum width for the image */
    max-height: 100px; /* Set the maximum height for the image */
    margin-right: 20px; /* Add margin between image and description */
  }
  
  .modal-description {
    flex: 1; /* Make the description take the remaining space */
  }
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); /* Black semi-transparent background */
    color: white; 
    width: 100%;
    transition: .5s ease; /* Smooth transition effect */
    opacity: 0; /* Initially hidden */
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .card:hover .overlay {
    opacity: 1; /* Make overlay visible on hover */
  }
  