#carousel{
    max-height: 400px;
    overflow: hidden;
    object-fit: contain !important;
   }


   .card-img {
    height: 200px; /* Set your desired height */
    object-fit: cover; /* This property ensures the image covers the area without stretching */
  }
   body::-webkit-scrollbar{
    display: none;
   }
   
   .slick-slider {
    width: 100%;
    margin: auto;
  }
  
  .slick-slide {
    display: inline-block;
    width: 100%;
  }
  
  .slick-dots {
    bottom: -20px;
    text-align: center;
  }
  
 /* Add this CSS to your stylesheets or in a separate CSS file */

.modal-content-container {
    display: flex;
    align-items: center;
  }
  
  .modal-image-container img {
    max-width: 100px; /* Set the maximum width for the image */
    max-height: 100px; /* Set the maximum height for the image */
    margin-right: 20px; /* Add margin between image and description */
  }
  
  .modal-description {
    flex: 1; 
  }
  

  .restaurant {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .restaurant:hover .overlay {
    opacity: 1;
  }
  

  .glassmorphism {
    background: rgba(10, 36, 152, 0.1); /* Adjust the alpha (last value) to control transparency */
    backdrop-filter: blur(8px); /* Adjust blur amount as needed */
    border: 1px solid rgba(255, 255, 255, 0.252); /* Optional border for contrast */
    border-radius: 10px; /* Optional border radius for rounded corners */
    padding: 20px;
    margin-top: 20px;
    transition: background 0.3s ease-in-out;
  }
  
  .glassmorphism1 {
    background: rgba(4, 7, 198, 0.1); /* Adjust the alpha (last value) to control transparency */
    backdrop-filter: blur(8px); /* Adjust blur amount as needed */
    border: 1px solid rgba(255, 255, 255, 0.252); /* Optional border for contrast */
    border-radius: 10px; /* Optional border radius for rounded corners */
    padding: 20px;
    margin-top: 20px;
    transition: background 0.3s ease-in-out;
  }
  

  /* Ingredients.css */

/* Ensure that the images are responsive and cards are evenly spaced */
.card-img-top {
    width: 100%;
    height: auto;
  }
  
  /* Style for the selected ingredient card */
  .selected {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, .5);
  }
  
  /* Ensure that your list items are spaced and images are not too large */
  .list-group-item img {
    margin-right: 15px;
  }
  
  /* Footer styling to ensure it stays at the bottom */
  .footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }
  
  /* Add additional styles as needed */
  